body {
  background-color: grey;
}

.title {
  text-align: center;
}

.filler {
  text-align: center;
  font-size: 0.9em;
}

.input-block {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.input-block .rounded {
  margin-left: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.input-block .checkbox {
  height: 20px;
  width: 20px;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  *overflow: hidden;
  vertical-align: middle;
}

.input-block label {
  padding-left: 5px;
  text-indent: -15px;
  vertical-align: middle;
  text-align: center;
}

.input-block input:hover {
  background-color: #339933;
}

.parenttable {
  padding-top: 20px;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.parenttable td {
  padding-top: 15px;
}
